*{
    margin: 0;
    padding: 0
    ;
}
html{ font-size: 65.5%;}
header {
    width: 100%;
    height: 10vh;
    background-color: grey;
}
body {
    background-color: rgb(236, 236, 236);
}

/* ---------------CSS MAIN------------------- */
.mainShop {
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}
.shopList {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    width: 100%;
            }
.shopList h2 {
    font-size: 4rem;
    text-align: center;
    border-bottom: #2f402c 0.5px solid;
    
}

.fotoLogo {
    width: 45%;
    margin-top: 1rem;
    margin-left: 1rem;
}
.contItem {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 1.05rem;
    row-gap: 6rem;
    
    
    
}
.itemShop {
    background-color: white;
    width: 21rem;
    border: white solid 1px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    transform: scale(1);
    transition: transform 1s;
    
}
.itemShop:hover {
    
    transform: scale(1.3);
    transition: transform 1s;
    box-shadow: 2px 2px 4px 1.5px rgb(204, 204, 204);
       }

.comprarItem {
    display:none
}
.itemShop:hover .comprarItem {
    display: block;
} 
.fotoShop img {
    width: 20rem;
    height: 20rem;
    
}
.precioShop {
    background-color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    
}
.comprarItem button{
    background-color: #9aee95;
    border: 0px #9aee95 solid;
    width: 5.5rem;
    height: 1.8rem;
    font-size:  0.8rem;
    border: 1px solid #9aee95;
    border-radius: 11%;
    font-weight:bolder;
}

.botonCompra:hover  {
    color: white;
    background-color: black;
    border: black;
}
.botonVer:hover  {
    color: white;
    background-color: black;
    border: black;
}

/*---------------------- CSS ASIDE -------------------*/

aside {
   
    width: 10%;
    height: 90vh;
    background-color: rgb(255, 230, 0);
    
    
    
   
     
}
.menuMarca li{
    border: 2px solid  ;
    font-size: 1.7rem;
    padding-left: 0.4rem;
           
}
.cajaMarca {
    background-color: #2f402c;
    border: solid 1px #2f402c;
}
.menuMarca a{
     text-decoration: none;
     color: white;
}

.subMenu {
    display: none;
    text-align:start;
    background-color: #9aee95;
    
    }
.subMenu li {
        padding-left: 1.7rem;
        border:1px solid white
          }
.menuMarca:hover .subMenu{
    display: block;   
}




/* CSS FOOTER */
footer {
    height: 20rem;
    background-color: black;
    
}
